<form class="@GetValidationClassName()" novalidate>
    <div>
        <label for="calcOrderName" 
                class="form-label">
                Order Name
        </label>
        <input type="text"
               tabindex="1"
               @bind-value="CalcOrder.Name"
               class="form-control"
               id="calcOrderName"
               maxlength="250"
               aria-describedby="orderNameHelp" required>
        <div class="invalid-feedback">
            The name is mandatory and can have max 250 characters.
        </div>
        <div id="orderNameHelp" class="form-text">Choose a descriptive name for your order.</div>
    </div>
    <div class="d-flex flex-row-reverse">
        <button type="button"
                tabindex="2"
                @onclick="OnClickSave"
                class="btn btn-primary"
                aria-label="Save">
            Save
        </button>
    </div>
</form>
