@page "/"
<div class="row mb-5">
    <div class="col">
    </div>
</div>
<div class="row mb-5">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title olive">
                    Order Calculations
                </h5>
                <p class="card-text">
                    This application allows to prepare gamess calculations.
                </p>
                <NavLink class="card-link" href="/calculationorders">
                    Open Application
                </NavLink>
            </div>
        </div>
    </div>
    <div class=" col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title olive">
                    Analyse Molecules
                </h5>
                <p class="card-text">
                    This application allows to analyse calculation results on molecules.
                </p>
                <NavLink class="card-link" href="/moleculesoverview">
                    Open Application
                </NavLink>
            </div>
        </div>
    </div>
</div>


